version: '3'

services:
  # Le service Web (Votre jeu)
  web:
    build: .
    ports:
      - "8080:80" # Le jeu sera accessible sur http://localhost:8080
    volumes:
      - .:/var/www/html # Lie votre dossier actuel au serveur (les modifs sont en direct)
    depends_on:
      - db

  # Le service Base de données
  db:
    image: mysql:5.7 # Une version de MySQL compatible avec 2013
    environment:
      MYSQL_ROOT_PASSWORD: root # Mot de passe root
      MYSQL_DATABASE: enigmacube # Nom de la base de données à créer
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: